body {
 background-color: salmon;
}
.content {
 width: 800px;
 margin: auto;
 background-color: #ffdede;
 padding: 20px;
}
h1 {
 font-style: oblique;
}
h2 {
 font-weight: bold;
}
h3 {
 text-decoration: underline;
}
h4 {
 text-decoration: line-through;
}
span {
 color: purple;
}
table {
 border-collapse: collapse;
 width: 130px;
 height: 130px;
 background-color: #f7adb6;
 margin: auto;
}
td,th {
 border: 1px solid #b55963;
 text-align: center;
 font-family: Gabriola;
 color: #b31023;
}
.form {
 margin: auto;
}
.reg {
 width: 200px;
 height: 300px;
 margin: 0 auto;
 margin-top: 25px;
}