* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Nunito','Montserrat', sans-serif;
}
body {
    background-color: white;
}
.conteiner {
     position: relative;
     width: 100%;
     max-width: 1200px;
     margin: auto;
     display: flex;
}
.header {
     width: 100%;
     height: 30px;
     position: absolute; 
     justify-content: space-between;
     align-items: center;
     display: flex;
     margin: 20px 0;
     padding: 0 30px;
}
.nav_right>a {
     text-decoration: none;
     font-size: 14px;
     margin: 0 10px;
     font-weight: 700;
     padding: 5px 10px;
}
.sign_in{
     color: white;
     background-color: #156963;
     padding: 8px 25px;
}
.sign_up {
    color: #156963;
}
.nav_right {
     display: flex;
     align-items: center;
}
.nav_right>a {
    padding: 10px 30px;
}
.content_title {
     font-size: 70px;
     font-weight: 500;
     color: #156963;
     margin: 150px 72px 24px 77px;
     width: 523px;
     height: 166px;
     line-height: 83px;
}
.content_text {
     font-weight: 400;
     font-size: 18px;
     color: #2C1500;
     width: 493px;
     height: 96px;
     margin: 0 102px 0 77px;
     opacity: 0.8;
     line-height: 32px;
}
.content_bottom {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 586px;
    height: 160px;
    margin: 145px 0 0 0;
}
.content {  
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    padding-right: 50px;
}
.prev {
    margin: 30px 0px;
    width: 213px;
    height: 83px;
}
a {
    text-decoration: none;
}
.next {
    width: 320px;
    height: 160px;
    color: white;
    background-color: #156963;
}
.left {
    padding: 20px 0px;
   
    color: #333333;
    font-size: 24px; 
    opacity: 0.5;
    font-weight: 500;
}
.right {
    color: white;
}
.prev h3 {
     color: #156963;
     font-size: 32px;
     font-weight: normal;
}
.content p {
    padding-left: 25px;
    color: #F2F2F2;
    font-size: 24px;
    opacity: 0.5;
    margin: 10px;
}
.content h3 {
    font-weight: normal;
    padding-left: 35px;
    font-size: 32px;
}
.vector {
    margin: 0px 15px 0px 0px;
}
.vector_two {
    margin: 0px 15px 0px 15px;
}
.vector_p {
    padding: 7px 0;
    color: #333333;
    font-size: 24px; 
    opacity: 0.5;
    font-weight: 500;
}
.blocks {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin:  auto;   
    justify-content: space-between;
    padding: 80px 30px 63px;
}
.serv {
    margin: 30px;
    display: flex;
    flex-direction: column;
    width: 268px;
    height: 155px;
    border: 1px solid #E0E0E0;
    padding: 22px 16px;
}
.two {
    display: flex;
}
.lorem_1 {
    left: 16px;
    top: 86px;
    color: #2C1500;
    font-weight: 400;
    font-size: 10px;
    line-height: 16px;
}
.fast {
    margin: 10px  30px 20px 10px;
    width: 48px;
    height: 48px;
    left: 80px;
    top: 22px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #156963;
}
.great {
    margin: 0px  30px 30px 10px;
    width: 48px;
    height: 48px;
    left: 80px;
    top: 22px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #156963;
}
.original {
    margin: 10px  30px 20px 10px;
    width: 48px;
    height: 48px;
    left: 80px;
    top: 22px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #156963;
}
.afford {
    margin: 10px  30px 20px 10px;
    top: 22px;
    left: 80px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #156963;
}
.two>img {
    width: 48px;
    height: 48px;
    left: 16px;
    top: 22px;
}
.featured_plants {
    margin: 20px auto;
    display: flex;
    max-width: 1200px;
    width: 100%;
}
.header_plants {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_plants>h3 {
    font-weight: 500;
font-size: 20px;
line-height: 24px;
}
.cheaper {
    display: flex;
   width: 150px;
    border: 1px solid #E0E0E0;;
}
.ch_first {
    margin: auto;
 
}
.first {
    margin: 0px 5px 10px 5px;
}

hr {
    color: #E0E0E0;
    opacity: 0.5;
    width: 1200px;
    margin: 20px auto;

}
.cont_cactus {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: auto;
}
.cactus_title {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    margin: 10px;
}
.cactus_idr {
    font-weight: 600;
    font-size: 16px;
    text-align: center;
}
.more_plants {
    width: 100%;
    max-width: 1200px;
    height: 610px;
    display: flex;
    position: relative;
    margin: 90px auto;
}
.plants_text {
    display: flex;
    flex-direction: column;
    width: 522px;
    height: 268px;
}
.buy_more {
    width: 522px;
    height: 112px;
    font-weight: 700;
    font-size: 45px;
    line-height: 56px;
    color: #2C1500;
    opacity: 0.8;
}
.buy_text {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    font-style: normal;
    color: #2C1500;
    margin: 20px 0;
    opacity: 80%;
    width: 506px;
    height: 140px;
    padding-right: 40px;
}
.img_bottom {
    position: absolute;
    left: 0;
    bottom: 0;
}
.img_right {
    position: absolute;
    right: 0;
}
.cont_favourites {
    width: 100%;
    max-width: 1200px;
    height: 360px;
    display: flex;
    margin: auto;
    background-color: #F3F4F6;
    margin-bottom: 90px;
}
.favoirites {
    display: flex;
    flex-direction: column;
    width: 583px;
    height: 184px;
}
.get_fav {
    width: 585px;
    height: 112px;
    font-weight: 700;
    font-size: 40px;
    line-height: 56px;
    margin: 80px 70px;
}
.visit {
    margin: 10px 70px;
    text-align: center;
    color: #FAFEFE;
    width: 152px;
    height: 40px;
    font-weight: 700px;
    padding: 10px 20px;
    background-color: #156963;;
}
.img_fav {
    margin: auto; 
}

.footer_nav {
    padding: 20px 70px;
    width: 100%;
    max-width: 1200px;
    display: flex;
    margin: auto;
    margin-bottom: 50px;
    justify-content: space-between;
}
.footer_left  {
    width: 282px;
    height: 137px;
    margin: 0 40px;
}
.footer_center_one {
    width: 95px;
    height: 82px;
     margin: 0 40px;

}
.footer_center_two {
    width: 95px;
    height: 82px;
    margin: 0 40px;
}
.footer_right {
    width: 234px;
    height: 98px;
    margin: 0 40px;

}
h2 {
   line-height: 24px;
   letter-spacing: 5%;
   font-size: 24px;
   color: #156963;
   margin: 20px 0;

}
.footer_title {
    font-size: 16px;
    line-height: 18px;
    color: #333333;
    margin: 20px 0 10px 0;
}
.footer_text {
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    width: 282px;
    height: 60px;
    left: 0px;
    top: 77px;
}
.footer_text_two {
    width: 93px;
    height: 16px;
    left: 362px;
    top: 36px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin: 20px 0;
}
input {
    padding: 5px 10px;
    border: 1px solid #F2F2F2;
    margin: 10px 0;

}
.sybmit {
    font-size: 8px;
    color: white;
    border-radius: 4px;
    background-color: #156963;
    width: 51px;
    font-weight: 500;
    line-height: 14px;
}